<p id="notice"><%= notice %></p>

<h1>Previews</h1>

<%= link_to 'New Preview', new_preview_path, :class => 'btn btn-primary' %>

<br/>
<br/>

<table class="table">
  <thead>
    <tr>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @previews.each do |preview| %>
      <tr>
        <td><%= preview.url %></td>
        <td><%= link_to 'Show', preview %></td>
        <td><%= link_to 'Destroy', preview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
